
body {
    font-family: area-extended, sans-serif;
    font-style: normal;
    background-color: #000000;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    color:#ffffff;
    
    
}

.size {
    height: 200px;
}
.box{
    display:flex;
    justify-content: flex-end;
    align-items: end;
    height: 100%;
    width: 100%;
}
.box1{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    height: 100%;
    width: 100%;
}
.box2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.box3{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: 100%;
    width: 100%;
}
.signUp{
    justify-content: end;
    align-items: end;
    background-color: #816214;
    color: #ffffff;
    border: solid transparent;
    border-radius: 7px;
    font-size: 10px;
    font-family: area-extended, sans-serif;
    padding: 10px;
    
    letter-spacing: 4px;
    
}
  
.red{
    background-color: #76090D;
}

.blue{
    background-color: #115D7D;
}

.yellow{
    background-color: #816214;
}
span.accent{

    font-weight: 900;
}
h1 {
    font-family: area-extended, sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
    
}
p{
    font-size: 15px;
    letter-spacing: 2px;
}
.text-justify{
    text-align: justify;
}

footer{
    background-color: #115D7D;
    font-family: area-normal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    
    
}
.navbar{
    background-color: #115D7D;
    font-family: area-normal, sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.nav{
    
    --bs-nav-link-color: #ffffff;
    --bs-nav-link-hover-color: #000000;;
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-between;

}
.navbar-nav {

    --bs-nav-link-color: #ffffff;
    --bs-nav-link-hover-color: #000000;;
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #000000;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #000000;
}

.navbar-toggler {
    border: solid transparent;
    border-width: 2px;
    background-color: #0f4156;
}
.navbar-toggler:focus{
    box-shadow:none;
}
.navbar-toggler:active {
    background-color: #0f4156;
    box-shadow: 0 3px #0b2d3b;
    transform: translateY(3px); 
}

.container{
    color: #000000;
    
}
.whiteText{
    color:#ffffff;
}

.form-control{
    background-color: white;
    border: 2px solid white;
    color: #000000;
}
.form-control:focus {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;

}
.form-floating>.form-control:focus~label{
    color: #ffffff;
    background-color: transparent;
    transform: none;

}
.form-floating>label {
    color: #ffffff;
    background-color: transparent;

}

